@use "sass:map";
@use "style/pages/theme" as *;

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 45px 0px 40px;
  justify-content: center;
  line-height: 30px;
  background: var(--brand-primary-active);
  text-align: center;

  .breadcrumb__text {
    color: #ffffff;

    h2 {
      margin-bottom: 10px;
    }
    ul {
      display: flex;
      list-style: none;
      column-gap: 10px;

      li {
        color: var(--brand-primary-foreground);
        font-weight: 600;

        a {
          color: inherit;
          text-decoration: underline;
        }
        &.link {
          :hover {
            color: var(--brand-primary-foreground-muted);
          }
        }
      }
    }
  }
}
