@use "sass:map";
@use "style/pages/all" as *;

.admin__header {
  background: white;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #edf2f7;

  &__nav {
    display: flex;
    gap: 16px;
    align-items: center;
    min-height: 72px;
    flex-wrap: wrap;

    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 24px;
      color: map.get($theme-colors, "nomal-text");
      text-decoration: none;
      font-weight: 500;
      font-size: 15px;
      transition: all 0.2s ease;
      border-radius: 6px;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        background: #3182ce14;
        color: map.get($theme-colors, "main");
      }
      &--active {
        background: #3182ce14;
        color: map.get($theme-colors, "main");
      }
    }
    &-icon {
      display: flex;
      align-items: center;
    }
  }

}
